@import "variables";

.moto {
  padding: 10rem 5rem 0 5rem;
  display: flex;
  background-color: $backgroundBlue;
  justify-content: space-between;
  align-items: center;

  .moto-text {
    margin-left: 5rem;
    color: white;
    h1 {
      max-width: 20rem;
      font-family: "Raleway", sans-serif;
      margin-bottom: 1rem;
      font-size: 2.3rem;
    }

    p {
      font-size: 1rem;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    a {
      color: $ctaCyan;

      &:hover {
        opacity: 0.7;
      }
      img {
        margin-left: 0.3rem;
      }
    }
  }
}

@media (max-width: 1150px) {
  .moto {
    padding: 7rem 2rem 0 2rem;
    display: block;

    .moto-img {
      text-align: center;
      margin-bottom: 5rem;
      img {
        height: 100%;
        width: 100%;
      }
    }

    .moto-text {
      margin-left: 0;
      width: 100%;
      text-align: left;

      h1 {
        max-width: 100%;
      }
    }
  }
}
