@import "variables";

.testimonial {
  padding: 10rem 5rem 1rem 5rem;
  background-color: $backgroundBlue;

  .cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    justify-content: space-around;

    .card {
      padding: 2.5rem 1.2rem 1rem 1.2rem;
      background-color: $cardBlue;
      color: white;
      margin-bottom: 5rem;

      p {
        max-width: 20rem;
        font-size: 0.8rem;
        margin-bottom: 2rem;
      }

      .footer {
        img {
          border-radius: 50%;
          width: 2.2rem;
          float: left;
          margin-right: 1rem;
        }

        .footer-text {
          h4 {
            font-size: 0.7rem;
          }
          p {
            font-size: 0.6rem;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .contact-card {
    transform: translateY(10rem);
    background-color: $cardBlue;
    color: white;
    max-width: 60rem;
    margin: 0 auto;
    padding: 4rem 5rem 3rem 5rem;
    text-align: center;

    h1 {
      font-family: "Raleway", sans-serif;
      margin-bottom: 1rem;
    }

    p {
      max-width: 40rem;
      margin: 0 auto 2rem auto;
      font-size: 0.8rem;
    }

    input {
      min-width: 30rem;
      height: 3rem;
      border-radius: 30px;
      margin-right: 2rem;
      border: none;
      padding-left: 3rem;
      font-size: 0.8rem;

      &::placeholder {
        color: grey;
      }

      &:focus {
        outline: none;
      }
    }

    button {
      cursor: pointer;
      border: none;
      border-radius: 30px;
      min-width: 15rem;
      height: 3rem;
      color: white;
      font-family: "Raleway", sans-serif;
      font-size: 0.9rem;
      background: linear-gradient(to right, $ctaCyan, $ctaBlue);
      border-style: none;

      &:hover {
        background: $ctaBlue;
      }
    }
  }
}

@media (max-width: 1100px) {
  .testimonial {
    padding-left: 1rem;
    padding-right: 1rem;
    .contact-card {
      padding: 4rem 1rem;
      input {
        width: 85%;
        min-width: 0;
        margin-right: 0;
        margin-bottom: 2rem;
      }

      button {
        min-width: 0;
        width: 85%;
      }
    }
  }
}

@media (max-width: 600px) {
  .testimonial {
    .contact-card {
      h1 {
        font-size: 1.5rem;
      }
    }
  }
}
