@import "variables";
@import "header";
@import "hero";
@import "features";
@import "moto";
@import "testimonial";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  height: 100%;
  width: 100%;

  p {
    opacity: 0.7;
  }
}

// Footer
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
